.trips-page {
    padding-top: 1rem; 
    overflow-y: auto; 
    width: 80vw;
}

.btn-add-trip {
    background-color: #007bff; /* Button color */
    color: #fff; /* Icon color */
}


.calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.trip-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(50% - 10px);
}
.trip-marker-circle {
    width: 8px;
    height: 8px;
    background-color: #f00; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trip-marker-square {
    width: 16px;
    height: 16px;
    border: 2px solid #f00; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.trip-marker {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red; 
    border-radius: 50%;
    top: 2px;
    left: 2px;
  
.btn-add-trip:hover {
    background-color: #0056b3; /* Darkens the button on hover */
}

@media only screen and (min-width: 728px) {
    .trips-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trips-header h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .btn-add-trip {
        display: inline-block;
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    }
}
