@import url('https://fonts.googleapis.com/css?family=Inika&display=swap');

body, html {
    font-family: 'Inika', serif;
    background-color: #E9EDED;
}

.hh-app-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
}

#root {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1280px;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* src/App.css */
.navbar-brand {
    font-family: 'Inika', serif;
}

/* Other styles */

