@model hagglehaul.Server.EmailViews.AcceptedBidEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Hagglehaul Driver Management: Your bid has been accepted</title>
    <style>
        .blue-accent {
            color: #126391;
        }
    </style>
</head>
<body>
<div>
    <h1>Accepted bid email template</h1>
    <p class="blue-accent">@Model.ExampleProperty</p>
</div>
</body>
</html>
