@model hagglehaul.Server.EmailViews.ConfirmationEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hagglehaul Trip: Ride Confirmation</title>
    <style>
        .blue-accent {
            color: #126391;
        }
    </style>
</head>
<body>
<div>
    <h1>Confirmation for riders email template</h1>
    <p class="blue-accent">@Model.ExampleProperty</p>
</div>
</body>
</html>
