@model hagglehaul.Server.EmailViews.NewBidEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Test Email</title>
</head>
<body>
<div>
    <h1>Test Email</h1>
    <p>@Model.TestProperty</p>
</div>
</body>
</html>
