@model hagglehaul.Server.EmailViews.NewBidEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Hagglehaul Trip: You have a new bid</title>
    <style>
        .blue-accent {
            color: #126391;
        }
    </style>
</head>
<body>
<div>
    <h1>New Bid Email template</h1>
    <p class="blue-accent">@Model.ExampleProperty</p>
</div>
</body>
</html>
