.trips-page {
    width: 80vw;
}

.trips-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Add this if you want the h2 to take up the remaining space and be centered */
.trips-header h2 {
    flex-grow: 1;
}

.btn-add-trip {
    background-color: #007bff; /* Button color */
    color: #fff; /* Icon color */
}

    .btn-add-trip:hover {
        background-color: #0056b3; /* Darkens the button on hover */
    }

@media only screen and (min-width: 728px) {
    .trips-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .trips-header h2 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

}

.driver-search-container {
    display: flex;       /* Use flexbox to center the child elements */
    justify-content: center; /* Center the search bar horizontally */
    margin-top: 20px;    /* Provide some spacing from the top */
    margin-bottom: 20px; /* Provide some spacing from the bottom */
}

