/* SearchTripsPage.css */

.search-page-container {
    padding-top: 50px; /* Adjust as needed to push content down */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
}

.search-bar-container {
    margin-bottom: 20px; /* Space between the search bar and the next content */
    width: 100%; /* Full width of the container */
    max-width: 600px; /* Maximum width of the search bar */
}

.search-input {
    width: 100%; /* Full width of the search bar container */
    padding: 10px 20px;
    padding-left: 40px; /* Make space for the icon */
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 20px; /* Rounded borders */
    color: #495057;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 20px center; /* Adjust the position of the background image (icon) */
    background-size: 16px 16px; /* Size of the background image (icon) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow to the input */
    margin-bottom: 1rem; /* Spacing below the search bar */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23495057" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 111.06 1.06h-.1l-1.024 1.023a.75.75 0 01-1.133-.977l.073-.084 1.024-1.023a.75.75 0 01.977-.073l.084.074zm-.692 1.408a5 5 0 100-10 5 5 0 000 10z"/></svg>');
}

.search-input::placeholder {
    color: #adb5bd;
}

.search-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.back-to-trips-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); /* Optional: adds a subtle shadow */
    margin-top: 1rem; /* To add spacing from the search input */
}

.trips-page {
    width: 80vw;
}

.trips-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Add this if you want the h2 to take up the remaining space and be centered */
.trips-header h2 {
    flex-grow: 1;
}


.btn-add-trip {
    background-color: #007bff; /* Button color */
    color: #fff; /* Icon color */
}

.btn-add-trip:hover {
    background-color: #0056b3; /* Darkens the button on hover */
}

@media only screen and (min-width: 728px) {
    .trips-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trips-header h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}

.driver-search-container {
    display: flex;       /* Use flexbox to center the child elements */
    justify-content: center; /* Center the search bar horizontally */
    margin-top: 20px;    /* Provide some spacing from the top */
    margin-bottom: 20px; /* Provide some spacing from the bottom */
}

.driver-search-input {
    width: 50%; /* Adjust this as necessary to fit your design */
    padding: 10px; /* Add padding inside the search input for better visuals */
    border-radius: 20px; /* Fully round the corners of the search input */
    border: 1px solid #ccc; /* Light grey border, or none if not desired */
    font-size: 16px; /* Adjust the font size as needed */
}

